# Node
*.log
*.log.*
node_modules

out/
dist/
code.js

saved-model/.env

.DS_Store

*.log

dist/

build/

out/

tmp/

.cache/

node_modules/

.env

saved-model/.env

data_scraper/output/

*.onnx

*.h5

*.bin

*.weights

